{% extends 'base.html.twig' %}

{% block title %}Bio Bloom Market
{% endblock %}

{% block body %}

	<div
		class="container pt-5">
		{# <h1 class="text-center mt-2 mb-5">BIO BLOOM MARKET</h1> #}
		{% if app.user %}
			<h2>Bienvenue,
				{{app.user.prenom}}
			</h2>
		{% endif %}
		<div class="container banner-div d-flex row align-items-center justify-content-around bg-brown rounded-4">
			<span class=" col-5 mx-2 px-2 ">
				<h1 class="text-secondary fs-2">Notre engagement pour une planète verte et florissante</h1>
				<button class=" btn bg-success text-white mt-2 mb-2">Explorez notre boutique</button>
			</span>
			<span class="col-5">
				<img class="banner rounded-5 col-12" src="{{asset('images/banner-1.jpg')}}" alt="cagettes de fruits et de légumes.">
			</span>
		</div>
		<div
			class="container">

			{# <div class="bg-green-400  text-center p-8 rounded shadow-md">
							Bienvenue sur mon site Symfony 7 !
						</div> #}

			<section class="example-wrapper d-flex row justify-content-between"></section>

			<section>
				<h3>Nos promotions en cours</h3>
				<h3>Les produits favoris de nos clients</h3>
				<h3>Offres spéciales</h3>
				<h3>Ventes privées si vous avez la cartes Bloom</h3>
			</section>
			<section>
				<h3>Avis de nos clients</h3>
				<p>
					<em>Carousel de card avec des avis</em>
				</p>
			</section>
			<section>
				<h3>A propos</h3>

			</section>
		{% endblock %}
