{% extends 'base.html.twig' %}

{% block title %}Bio Bloom Market
{% endblock %}

{% block body %}

	<div class="container">
		<h1>BioBloomMarket</h1>
		<h2>Notre engagement pour une planète verte et florissante</h2>
		<div class="example-wrapper">
			<section>
				<button class="btn bg-success text-white">Explorez notre boutique</button>
			</section>

			<section>
				<h3>Nos promotions en cours</h3>
				<h3>Les produits favoris de nos clients</h3>
				<h3>Offres spéciales</h3>
				<h3>Ventes privées si vous avez la cartes Bloom</h3>
			</section>
			<section>
				<h3>Avis de nos clients</h3>

			</section>
			<section>
				<h3>A propos</h3>

			</section>
		</div>
	</div>
{% endblock %}
