.text-secondary {
    color: #E0E0E0 !important;
}

.bg-secondary {
    background-color: #E0E0E0 !important;

}

.text-success {
    color: #4CAF50 !important;
}

.bg-success,
.btn-success {
    background-color: #4CAF50 !important;

}

.text-brown {
    color: #795548 !important;
}

.bg-brown {
    background-color: #795548 !important;
}

body {
    background-color: #ffffff;
    /* background-color: #FFFFFF; */
}

/* h1 {
    color: #4CAF50;
}
 */


/* .container .banner-div {
    background-color: #795548;
} */
.banner-div {
    height: 25rem;
}

.container .banner-div h2 {
    color: #E0E0E0;
}

.logo {
    height: 2.5rem;
}

/* .banner {
    height: 18rem;
} */


/* .bg-success {
    background-color: #4CAF50 !important;
} */

/* .btn-color-success {
    color: #4CAF50 !important;
} */

.btn-outline-success {
    border-color: #4CAF50 !important;
}

.btn-outline-success:hover,
.btn-outline-success:target {
    background-color: white;
}

.img-panier {
    height: 2rem;
}