{% extends 'base.html.twig' %}
{% block title %}User index
{% endblock %}
{% block body %}

	{{ form_start(editPassword) }}
	{{ form_widget(editPassword) }}
	<button class="btn">{{ button_label|default('Update') }}</button>
	{{ form_end(editPassword) }}
{% endblock %}
