{% extends 'base.html.twig' %}

{% block title %}New User
{% endblock %}

{% block body %}
	<h1>Create new User</h1>
	{{ include('user/_form.html.twig', {password: passwordGenerated}) }}

	<a href="{{ path('app_user_index') }}" class="btn-cta">back to list</a>
	{% if is_granted('ROLE_ADMIN') %}
		<button class="print" id='print'>Afficher mot de passe
		</button>
		{# <button onclick="window.print()" id="print" class="print">Imprimer cette page</button> #}
		<div id="password-shown">
			<h2 class="hidden" id="remove-hidden">Pour se connecter à votre compte
			</h2>

		</div>
	{% endif %}
{% endblock %}
